__pycache__/
*.pyc
.DS_Store

# training outputs
logs/
runs/
checkpoints/
*.ckpt
*.safetensors

# data
/data/*
!/data/hda/
/data/hda/*
!/data/hda/tcm_suite/
/data/hda/tcm_suite/*
!/data/hda/tcm_suite/target_seqs.json
!/data/hda/ethnobotany/
/data/hda/ethnobotany/*
!/data/hda/ethnobotany/compound_smiles.json
!/data/hda/ethnobotany/target_seqs.json
!/data/hda/ethnobotany/disease_id2name.json

!/data/hti/
!/data/hti/gene_to_sequence.json

/.cache
